html {
  height: 100vh;
  max-height: 100vh;
  font-family: sans-serif;
}

body {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  height: 100vh;
}

.tbl-container {
  overflow: scroll;
  height: calc(100vh - 100px);
}

tbody tr:nth-child(odd) {
  background-color: #e6e6e6;
}

.saas,
.saci {
  width: calc(50% - 65px);
  margin-left: 10px;
  margin-right: 10px;
}

.compare {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.compare button {
  min-height: 30px;
  width: 100px
}

/* TABLE */


.saas-tbl-container {
  border-right: 1px solid grey;
}

.saci-tbl-container {
  border-left: 1px solid grey;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

table thead {
  background-color: #0b1641;
  position: sticky;
  top: 0px;
  color: white;
}

.divergent-tr {
  border: 2px solid red;
  background: repeating-linear-gradient(45deg, #f8f8f8, #fdfdfd 3px, #ff7a7a 4px, #9198e5 3px);
}

th,
td {
  border: 1px solid rgb(143, 143, 143);
  overflow: hidden;
  text-align: center;
  padding: 5px;
}

th {
  border: 2px solid rgb(143, 143, 143);
}

.td-div {
  min-height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.saas-tbl-container td:nth-child(3) {
  min-width: 200px;
  text-align: left;
}

.saas-tbl-container td:nth-child(3) div {
  justify-content: flex-start;
}

table td:nth-child(-n+12):nth-child(n+7) {
  min-width: 40px;
  max-width: 40px;
}

.table td:nth-child(8) {
  min-width: 90px;
}

th:last-child, 
td:last-child {
  display: none
}

.highlight-tr {
  background: #1a41a6 !important;
  color: white;
}

/* TOOLTIP */

#tooltip-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

#tooltip {
  display: none;
  position: absolute;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1em;
  background-color: #000000d4;
  color: white;
}

.tooltip-show {
  display: block !important;
}

#tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 20px;
  margin-left: -5px;
  border-width: 9px;
  border-style: solid;
  border-color: #000000d4 transparent transparent transparent;
}

/* SELECTION COMPARISON TABLE */

.selection-comp-table {
  display: grid;
  grid-template-columns: 100px 100px 100px;
}

.selection-comp-table div {
  border-bottom: 1px solid grey;
  padding: 0.1rem 0.3rem;
}

.selection-comp-table *:nth-child(3n+2) {
  background-color: #e6e6e6;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

.selection-comp-table *:nth-child(n+1):nth-child(-n+3) {
  background-color: #0b1641;
  color: white;
  font-weight: bold;
}